body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
    display: flex;
    transition: margin-left 0.3s ease;
}

body.sidebar-hidden .sidebar {
    margin-left: -250px;
}

body.sidebar-hidden .content {
    margin-left: 0;
}

.sidebar {
    width: 250px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    height: 100%;
    overflow-y: auto;
    transition: margin-left 0.3s ease;
    z-index: 100;
}

.sidebar h2 {
    color: #005a9c;
    text-align: center;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li a {
    display: block;
    padding: 10px;
    color: #333;
    text-decoration: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 25px; /* Espacio para el icono */
}

.sidebar ul li a::before {
    content: '▶'; /* Icono de la flecha */
    position: absolute;
    left: 8px;
    transition: transform 0.3s ease;
    font-size: 10px;
}

.sidebar ul li.active > a::before {
    transform: rotate(90deg);
}

.submenu {
    display: none;
    padding-left: 15px; /* Reducido para la jerarquía */
    background-color: #f9f9f9;
}

.submenu a {
    padding: 8px 10px;
}

.submenu .sub-submenu a::before {
    left: 20px;
}

.content {
    margin-left: 270px;
    padding: 20px;
    flex-grow: 1;
    transition: margin-left 0.3s ease;
}

.content h1,
.content h2 {
    color: #005a9c;
}

section {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.toggle-btn {
    position: fixed;
    top: 10px;
    left: 10px;
    background-color: #005a9c;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    z-index: 101;
    transition: left 0.3s ease;
}

body.sidebar-hidden .toggle-btn {
    left: 10px;
}
